.custom-bg-color {
    background: #150d19;
}


.basic-options-container{
    display: flex;   


}
.basic-options-box{
    border: 1px solid #150d19;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 10px;
    background: #150d19;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    border-radius: 5px;
    text-decoration: none;
}

.basic-options-box:hover{
   border : 1px solid #fff;
   color : white;
   
}

.nostyle{
    text-decoration: none;
    color: #fff;
}
label{
    color:white;
}

.custom-margins{
    margin: 15px 10px 0 0;
}

.custom-buttom{
    background: #150d19;
    color: #fff;
    border: 1px solid #150d19;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

.custom-buttom:hover{
    background: #fff;
    color: #150d19;
    border: 1px solid #fff;
}

.custom-input{
    background: #150d19;
    color: #fff;
    border: 1px solid #150d19;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    transition: all 0.15s ease-in-out;
    display: block;
}



.custom-input-gray{
    background: #251e28;
    color: #fff;
    border: 1px solid #150d19;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    transition: all 0.15s ease-in-out;
    display: block;
}

.m5{
    margin: 5px;
}
.mt15{
    margin-top: 15px;
    margin-left:5px;
}

.custom-input-gray-100{
    background: #251e28;
    color: #fff;
    border: 1px solid #150d19;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    transition: all 0.15s ease-in-out;
    display: block;
    width: 100%;
}

/***los input gray disabled */ 
.custom-input-gray:disabled{
   color : #858286;
}

.custom-input-gray-100:hover{
    border: 1px solid #fff;
}

.custom-input-gray-100:focus{
    border: 1px solid #fff;
}


.custom-textarea{
    background: #150d19;
    color: #fff;
    border: 1px solid #150d19;
    border-radius: 5px;
    padding: 10px;
    font-size: 1em;
    font-weight: 600;
    transition: all 0.15s ease-in-out;
    display: block;
    width: 100%;
    resize: vertical;
}

.custom-textarea:focus{
    border: 1px solid #fff;
}

.custom-input:hover{
    
    border: 1px solid #fff;
}

.custom-input:focus{
    border: 1px solid #fff;
}

.custom-title{
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    margin: 0 0 10px 0;
}

.error-custom-text{
    color: rgb(238, 120, 120);
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0 0 10px 0;
}
body{
    color:white;
}

.custom-card{
    background: #150d19;
    color: #fff;
    border: 1px solid #150d19;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    transition: all 0.15s ease-in-out;
    width: 300px;
    resize: vertical;
    cursor: pointer;
    margin: 5px 15px;
}

.custom-card-auto{
    background: #150d19;
    color: #fff;
    border: 1px solid #150d19;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    transition: all 0.15s ease-in-out;
    width: auto;
    resize: vertical;
    cursor: pointer;
    margin: 5px 15px;
}
.custom-card-wb{
    background: #150d19;
    color: #fff;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    transition: all 0.15s ease-in-out;
    width: 300px;
    resize: vertical;
    cursor: pointer;
    margin: 5px 15px;
}
.custom-card-wb-100{
    background: #150d19;
    color: #fff;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    transition: all 0.15s ease-in-out;
    width: 90%;
    resize: vertical;
    cursor: pointer;
    margin: 5px 15px;
}

.custom-card-wb-100:hover{
    background: #332e35;
}


.custom-card-wb:hover{
    
    background: #332e35;
}

.custom-card-100{
    background: #150d19;
    color: #fff;
    border: 1px solid #150d19;
    border-radius: 5px;
    padding: 15px 10px 15px 10px;
    font-size: 1.2rem;
    font-weight: 600;
    transition: all 0.15s ease-in-out;
    width: 100%;
    resize: vertical;
    margin: auto;
}
.custom-card-100-invisible{
    background: none;
    color: #fff;
    border-radius: 5px;
    padding: 15px 10px 15px 10px;
    font-size: 1.2rem;
    font-weight: 600;
    transition: all 0.15s ease-in-out;
    width: 100%;
    resize: vertical;
    margin: auto;
}

.custom-card-100:hover{
}

.custom-card-secondary{
    background: #150d19;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px 10px 0px 10px;
    font-size: 1.2rem;
    font-weight: 600;
    transition: all 0.15s ease-in-out;
    width: 100%;
    resize: vertical;
    margin: auto;
    max-width: 300px;
}

.custom-card-secondary:hover{
    border: 1px solid #fff;

}

.custom-card:hover{
    border: 1px solid #fff;
}

.custom-card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 10px;
}

.custom-text{
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    margin: 0 0 10px 0;
    white-space:pre-wrap;

}

/** span que se situará a la derecha del div parent */
.floating-right
{
    float: right;
    font-size: 0.8em;
}

.custom-link
{
    text-decoration: none;
    color: inherit;
    background-color: transparent;
}

.custom-link:hover
{
    text-decoration: none;
    color: inherit;
    background-color: transparent;
}


.custom-label{
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    margin: 0 0 10px 0;
    white-space:pre-wrap;
    display: block;
}
.custom-button-lt
{
    background: #150d19;
    color: #fff;
    border: 1px solid #150d19;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    margin: 10px;
    border: 1px solid rgb(135, 135, 135);
    max-width: 200px;
    width: 30%;
}


.lt-button{
    background: #150d19;
    color: #fff;
    border: 1px solid #150d19;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    border: 1px solid rgb(135, 135, 135);
    max-width: 200px;
    width: auto;
}

.lt-button:hover{
    background: #332e35;
    border: 1px solid #fff;
}

.lt-button-danger{
    background: #530f0f;
    color: #fff;
    border: 1px solid #150d19;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    border: 1px solid rgb(135, 135, 135);
    max-width: 200px;
    width: auto;
}

.lt-button-danger:hover{
    background: #751424;
    border: 1px solid #fff;
}

/*click mostrara una animacion en el color de fondo de un circulo expandiendose*/



.custom-button-lt-danger
{
    background: #751424;
    color: #fff;
    border: 1px solid #3f0e0e;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    margin: 10px;
    border: 1px solid rgb(135, 135, 135);
    max-width: 200px;
    width: 30%;
}

.custom-button-lt:hover
{
    border: 1px solid #fff;
    background: #1f1723;
}

.custom-button-lt-danger:hover
{
    border: 1px solid #fff;
    background: #570f1b;
}


@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
}

  .center-elements{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 10px;
  }

  .user-list-box{
    background: #150d19;
    color: #fff;
    border: 1px solid #150d19;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    transition: all 0.15s ease-in-out;
    width: 100%;
    resize: vertical;
    margin: auto;
    max-width: 300px;
  }
  .user-list-box img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 10px 0 0;
  }

  .deck-collection-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 10px;
  }

  .custom-option{
    background: #150d19;
    color: #fff;
    border: 1px solid #150d19;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    transition: all 0.15s ease-in-out;
    width: 100%;
    resize: vertical;
    margin: auto;
    max-width: 300px;
    }

    .custom-option:hover{
        border: 1px solid #fff;
    }



    .deck-collection-box{
        background: #150d19;
        color: #fff;
        border: 1px solid #150d19;
        border-radius: 5px;
        padding: 10px;
        font-size: 1.2rem;
        font-weight: 600;
        transition: all 0.15s ease-in-out;
        width: 100%;
        resize: vertical;
        margin: auto;
        max-width: 300px;
    }

    .deck-collection-box img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 0 10px 0 0;
    }

    /** bara pegada al bottom que mostrará las cartas del deck */
    .user-deck-cards{
        width: 100%; height: 50px; background-color: blue; color: white; text-align: center; 
    }

    .user-deck-card{
        background: #150d19;
        color: #fff;
        border: 1px solid #150d19;
        border-radius: 5px;
        padding: 10px;
        font-size: 1.2rem;
        font-weight: 600;
        transition: all 0.15s ease-in-out;
        width: 100%;
        resize: vertical;
        margin: auto;
        max-width: 300px;
    }

    .custom-selection{
        border: 1px solid white;
    }

    .deck-room-container {
        position: fixed;
        bottom: 0;
        width: 100%;
        display: flex;
        overflow-x: auto;
    }

    .deck-room-options-box {
        flex: 0 0 auto;
        margin: 10px;
        text-align: center;
        background: #150d19;
        border: 1px solid transparent;
        color: #fff;
        border-radius: 5px;
        padding: 10px 10px 10px 10px;
        font-size: 1.2rem;
        font-weight: 600;
        transition: all 0.15s ease-in-out;
        cursor: pointer;
    }

    .deck-room-options-box:hover {
        border: 1px solid #fff;
    }

    .card-deck {
        width: auto;
        border-radius: 5px;
        margin: 5px;
        border: 1px solid #ffffff00;
        font-size: 1.5em;
    }

   
    .activo{
        border: 1px solid #fff;

    }

    .deck-collection-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: l;
    }

    .deck-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 200px;
        border: 1px solid #000;
        border-radius: 10px;
        cursor: pointer;
        border: 1px solid rgb(161, 157, 157);
    }

    .deck-container:hover {
        border: 1px solid #ffffff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.103);
    }

    .deck-name {
        margin-top: 10px;
        font-size: 20px;
        font-weight: bold;
    }

    .deck-container img {
        width: 80px;
    }

    
    .custom-sidebar {
    }

    .bg-color-primary{
        background: #150d19;
    }

    .carta-deck {
        width: 75px;
        height: 125px;
        background: rgba(255, 255, 255, 0);
        border: 1px solid #000;
        color : #000;
        border-radius: 10px;
        margin: 10px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      

    

    .loader {
        width: 48px;
        height: 48px;
        border: 5px solid #FFF;
        border-bottom-color: transparent;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
        }
    
        @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
        } 

        .b-text{
            font-size: 1.5em;
        }

